.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e3a8a;
    padding: 25px 15px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ion-icon {
    display: block;
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: column;
}

.sidebar .chat {
    display: inline-flex;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
    padding: 10px 15px;
    background-color: #16a085;
    border-radius: 40px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
}

.sidebar .recent_title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}

.sidebar .recent_entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #e3f2fd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .recent_entry:hover {
    background-color: #2563eb;
}

.sidebar .chatItem {
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
}